body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.nav {
  margin-top: 58px;
}

.nav .container {
  display: flex;
  align-items: center;
}

.nav-brand,
.nav-ctas {
  width: 20%;
}

.nav-brand {
  font-size: 22px;
  font-weight: 600;
}

.menu {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.menu-item {
  color: #000;
  text-decoration: none;
  opacity: 0.8;
}

.menu-item:hover {
  opacity: 1;
  border-bottom: 1px solid;
}

.menu-item-active {
  opacity: 1;
  font-weight: 600;
}

.nav-ctas {
  text-align: right;
}

.sign-up {
  padding: 10px 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 15px;
  padding: 135px 0;
  width: 653px;
}

.hero-headline {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  line-height: ;
}

.hero-subheadline {
  margin: 0;
  line-height: 32px;
  width: 553px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.hero-ctas {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.cta-primary,
.cta-secondary {
  display: inline-block;
  padding: 12px 17px;
}

.cta-primary {
  text-decoration: none;
  background-color: #001aff;
  color: #fff;
  border-radius: 100px;
  box-shadow: 0px 15px 30px rgba(0, 26, 255, 0.2);
}

.cta-secondary {
  color: #001aff;
  font-weight: 600;
}

.job-list {
  display: flex;
  gap: 30px;
}

.jobs {
  text-align: left;
  padding-bottom: 40px;
}

.job {
  width: calc(100% / 3);
  padding: 25px 25px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 30px 60px rgba(0, 26, 255, 0.1);
  text-decoration: none;
}
.job:hover {
  background-color: #001aff;
  transition: all 0.3s;
}

.job:hover .job-title,
.job:hover .job-salary {
  color: #fff;
}

.job:hover .job-company,
.job:hover .job-description {
  color: rgba(255, 255, 255, 0.8);
}

.job:hover .job-tag {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}
.job:hover .job-divider {
  border-color: rgba(255, 255, 255, 0.15);
}
.jobs-headline {
  margin: 0 0 10px 0;
  font-size: inherit;
  font-weight: 600;
}

.job-header {
  display: flex;
  align-items: center;
}

.job-logo {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

.job-meta {
  margin-left: 13px;
}

.job-title {
  color: #000;
  font-size: 18px;
  margin: 0 0 5px 0;
}

.job-company {
  font-size: 14px;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

.job-description {
  font-size: 14px;
  margin: 17px 0;
  color: rgba(0, 0, 0, 0.8);
  line-height: 26px;
}

.job-divider {
  margin: 25px 0;
  border-color: rgba(0, 0, 0, 0.05);
}

.job-footer {
  display: flex;
  align-items: center;
}

.job-tag {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5px 15px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 600;
  color: #000;
}

.job-salary {
  margin-left: auto;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
